Styles for the input container
.input-container {
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
  }
  
  /* Styles for the input elements */
  label,
  input[type="date"],
  input[type="text"],
  button {
    display: block;
    margin-bottom: 10px;
  }
  
  /* Styles for the table container */
  .table-container {
    display: inline-block;
    width: 66.67%; /* Take up two-thirds of the page width */
  }
  
  /* Styles for the table */
  table {
    border-collapse: collapse;
    width: 50%;
    font-family: Arial, sans-serif;
    font-size: 12px; /* Decrease font size */
  }
  
  th,
  td {
    text-align: left;
    padding: 4px; /* Decrease cell padding */
    border-bottom: 1px solid #ddd;
    color: #333;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #myPieChart {
    width: 30px;
    height: 30px;
  }
  